<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h1>Task Manager</h1>
	<table border='1'>
		<tr>
			<th># (Update)</th>
			<th>Name</th>
			<th>Satutus</th>
			<th>Other</th>
		</tr>
		{% for task in tasks %}
		<tr>
			<td style="text-align: center;"><a href="update/{{ task.id }}">{{ forloop.counter }}</a></td>
			<td>{{ task.name }}</td>
			<td>
				<a href="changestatus/{{ task.id }}">
					{% if task.status == True %}
					Complete
					{% else %}
					Not Complete
					{% endif %}
				</a>
			</td>
			<td><a href="delete/{{ task.id }}">Delete</a></td>
		</tr>
		{% endfor %}
	</table>
	<br>
	<p><a href="add/">Add Task</a></p>
</body>
</html>